.navBar {
  height: 80px;
  color: #eee;
}

.imgSize {
  height: 100vh;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  background: #000;
  height: 3px;
}

.marginTop {
  margin:50px 0;
  padding: 10px 0;

  box-shadow: 0 0 10px rgba(0,0,0,.2);
}


@media (max-width: 990px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-top: 10px;
  }

  @media (max-width: 658px) {
    #carouselExampleIndicators {
      margin-top: 80px;
    }
    .marginTop{
      flex-direction: column;
    }
    .endereco {
      margin: 0 auto;
      border-bottom: 2px solid black;
    }
  }

  @media (max-width: 500px) {
    .centro {
     margin-top: -60px;
    }
  }

  @media (max-width: 574px) {
    .marginTop {
      margin: 30px 50px;
      max-width: 350px;
      
    }
  }



  

}